* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

body {
    background: #fff;
}

.header {
    height: 80px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.nav-box {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 40px;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    color: #333;
}

.banner {
    width: 855px;
    margin: 0 auto;
    background: url(../img/preview.jpg) no-repeat center center;
    height: 312px;
    text-align: center;
    line-height: 312px;
    color: #fff;
    text-shadow: 0 0 10 rgba(0,0,0,0.3);
}
.introduce{
    width: 1200px;
    margin:0 auto;
    padding: 40px 0;
    display: flex;
}
.introduce-tit{
    margin-left:40px;
    line-height: 50px;
    font-size: 28px;
    font-weight: 600;
    padding-top: 20px;
}

.introduce-main{
    display: flex;
}
.introduce-main .l{
    margin-right: 50px;
}
.introduce-main .r{
    line-height: 60px;
    font-size: 20px;
    color: #555;
}
.edu-box{
    display: flex;
}
.edu-box .r{
    margin-left: 70px;
    line-height: 30px;
    font-size: 20px;
}
.phone{
    margin-left: 70px;
    line-height: 30px;
}
